<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 商户入驻申请 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="20">ID</th>
					<th width="130">商户名称</th>
					<th width="30">法人</th>
					<th width="120">联系电话</th>
					<th width="100">申请时间</th>
					<th width="30">状态</th>
					<th width="30">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name='bis' id='vo'}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td><a style="text-decoration:none" class="ml-5" onClick="o2o_edit('商户入驻详情数据', '{:url('bis/detail',['id'=>$vo.id])}')" href="javascript:;" title="{$vo.name}">{$vo.name}</a></td>
					<td class="text-c">{$vo.faren}</td>
					<td class="text-c">{$vo.faren_tel}</td>
					<td>{$vo.create_time}</td>
					<td class="td-status"><a onClick="o2o_s_edit('状态变更', '{:url('bis/status',['id'=>$vo.id, 'status'=>0, 'location'=>0])}', '', 300)" href="javascript:;" title="点击修改状态为等待审核">{$vo.status|status}</a></td>
					<td class="td-manage">
					<a style="text-decoration:none" class="ml-5" onClick="o2o_edit('商户入驻详情数据', '{:url('bis/detail',['id'=>$vo.id])}')" href="javascript:;" title="查看"><i class="Hui-iconfont">&#xe665;</i></a> 
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
	{:pagination($bis)}
</div>
<!--包含头部文件-->
{include file="public/footer" /}
