<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 城市管理 <span class="c-gray en">&gt;</span> 城市列表 {if condition="$parentId neq 0"}<span class="c-gray en">&gt;</span> {$parentName}{/if}<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	{if condition="$parentId neq 0"}
		<a href="{:url('city/index')}"><i class="Hui-iconfont">&#xe678;</i>&nbsp;&nbsp;返回</a>
	{/if}
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="o2o_s_edit('添加城市','{:url('city/add',['parent_id' => $parentId])}','','300')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加城市</a></span> <span class="r"></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="20">ID</th>
					<th width="40">排序</th>
					<th width="100">名称</th>
					<th width="40">城市状态</th>
					{if condition="$parentId eq 0"}
					<th width="50">操作</th>
					{/if}
				</tr>
			</thead>
			<tbody>
				{volist name='citys' id='vo'}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td class="text-c listorder"><input size="3" attr-id="{$vo.id}" name="listorder" value="{$vo.listorder}"/></td>
					<td>{$vo.name}</td>
					<td class="td-status"><a href="" title="点击修改状态">{$vo.status|status}</a></td>
					{if condition="$parentId eq 0"}
					<td class="td-manage"><a href="{:url('city/index',['parent_id' => $vo.id])}">查看子城市</a></td>
					{/if}
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script>
	var SCOPE = {
		'listorder_url':"{:url('city/listorder')}",
	};
</script>
</body>
</html>
